:root {
    /*Brand Color*/
    --color-primary: rgb(33, 33, 33);
    --color-background: whitesmoke;
    --color-white: white;
    --color-overlay: rgba(0, 0, 0, 0.7);

    /*Spacing Scale*/
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 40px;
    --spacing-xl: 64;

    /*Border Radius*/
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
}

body {
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    z-index: 10;
    background-color: var(--color-background);
    position: relative;
}

.header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logo-header {
    height: 32px;
    width: auto;
}

.header-content > nav:nth-child(2) {
    display: none;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
}

.header nav ul li {
    cursor: pointer;
    color: rgb(33, 33, 33);
    padding: 6px;
    margin: 0 auto;
    display: flex;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(33, 33, 33);
    padding: 4px;
}

.header nav ul li a:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 75%;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.icon-wrapper svg {
    width: 20px;
    height: 20px;
    color: rgb(33, 33, 33);
    transition: all 0.3s ease-in-out;
}

.icon-wrapper:hover {
    background-color: rgb(33, 33, 33, 0.1);
}

.hero-section-wrapper {
    padding: var(--spacing-sm);
}

.hero-section {
    height: 400px;
    width: 100%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    background-image: url("https://www.fjallsakerhetsradet.se/49dffd/globalassets/mikrosajter/fjallsakerhetsradet/bilder/puffbilder/fjallvandring-mattias-fredriksson-5589-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* adding filter */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 28px;
}

.hero-content p {
    font-size: 14px;
    margin-bottom: 16px;
}

/* BUTTON STYLE */

.button-primary-xl {
    width: fit-content;
    height: 44px;
    padding: 6px 24px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 8px;
    color: rgb(33, 33, 33);
    cursor: pointer;
}

.button-primary-xl:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 75%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header {
        height: 68px;
        padding: 12px 20px;
    }

    .logo-header {
        height: 36px;
    }

    .header-content > nav:nth-child(2) {
        display: block;
    }

    .header nav ul li a {
        font-size: 14px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .header-content {
        padding: 0px 16px;
    }
}
