:root {
    /*Brand Color*/
    --color-primary: rgb(33, 33, 33);
    --color-background: whitesmoke;
    --color-white: white;
    --color-overlay: rgba(0, 0, 0, 0.7);
    --color-text-secondary: rgb(73, 73, 73);

    /*Spacing Scale*/
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 40px;
    --spacing-xl: 64;

    /*Border Radius*/
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
}

body {
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    z-index: 10;
    background-color: var(--color-background);
    position: relative;
}

.header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.logo-header {
    height: 32px;
    width: auto;
}

.header-content > nav:nth-child(2) {
    display: none;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
}

.header nav ul li {
    cursor: pointer;
    color: rgb(33, 33, 33);
    padding: 6px;
    margin: 0 auto;
    display: flex;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(33, 33, 33);
    padding: 4px;
}

.header nav ul li a:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 75%;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.icon-wrapper svg {
    width: 20px;
    height: 20px;
    color: rgb(33, 33, 33);
    transition: all 0.3s ease-in-out;
}

.icon-wrapper:hover {
    background-color: rgb(33, 33, 33, 0.1);
}

.hero-section-wrapper {
    padding: var(--spacing-sm);
}

.hero-section {
    height: 400px;
    width: 100%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    background-image: url("https://www.fjallsakerhetsradet.se/49dffd/globalassets/mikrosajter/fjallsakerhetsradet/bilder/puffbilder/fjallvandring-mattias-fredriksson-5589-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* adding filter */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 28px;
}

.hero-content p {
    font-size: 14px;
    margin-bottom: 16px;
}

/* BUTTON STYLE */

.button-primary-xl {
    width: fit-content;
    height: 44px;
    padding: 6px 24px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 8px;
    color: rgb(33, 33, 33);
    cursor: pointer;
}

.button-primary-xl:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 75%;
}

.button-primary-dark-xl {
    width: fit-content;
    height: 44px;
    padding: 6px 24px;
    font-weight: bold;
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(44, 44, 44);
    border-radius: 8px;
    color: rgb(240, 240, 240);
    cursor: pointer;
}

.button-primary-dark-xl:hover {
    opacity: 75%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.category-section {
    padding: var(--spacing-sm);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-md);
    margin-bottom: 64px;
}
.category-card {
    height: 420px;
    border-radius: var(--radius-lg);
    padding: var(--spacing-sm) var(--spacing-lg);
    background-image: url(https://cdn.sanity.io/images/inkbj32c/production/002803c128d79d38d17c12b29cb811cfc383b369-658x870.jpg?auto=format&q=75);
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing-sm);
}

.category-card h2 {
    grid-column: 1/3;
    grid-row: 1;
    color: var(--color-white);
    align-self: self-end;
}
.category-card p {
    grid-column: 1/3;
    grid-row: 2;
    color: whitesmoke;
    align-self: self-end;
    font-size: 16px;
}
.category-card .button-primary-xl {
    grid-column: 1/3;
    grid-row: 3;
    align-self: self-start;
}

footer {
    width: 100%;
    height: 160px;
    padding: var(--spacing-lg) var(--spacing-md);
    border-top: 1px solid rgb(212, 212, 212);
    background-color: var(--color-background);
}

.footer-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Products Page */
.category-banner {
    width: 100%;
    height: 200px;
    background-image: url(https://www.base-mag.com/wp-content/uploads/2025/01/Sam-Firth_Arcteryx-Beta-SL-Jacket-6.jpg);
    background-position: center;
    background-size: cover;
    padding: 12px 20px;
}

.category-banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-content h1 {
    color: var(--color-white);
    font-size: 24px;
    margin-bottom: var(--spacing-xs);
}

.category-content p {
    color: var(--color-background);
    font-size: 12px;
    padding-right: 64px;
}

.products-container {
    width: 100%;
    height: fit-content;
    padding: var(--spacing-xs) var(--spacing-xs);
    margin-bottom: 80px;
}

.products-wrapper {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md) 0px;
}
.product-card {
    padding: var(--spacing-xs) var(--spacing-xs);
    border-radius: var(--radius-md);
}

.product-card:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(193, 193, 193);
}

.product-card img {
    width: 100%;
    border-radius: var(--radius-sm);
    margin-bottom: var(--spacing-sm);
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: var(--spacing-xs);
}
.product-card p {
    font-size: 14px;
    color: var(--color-text-secondary);
    margin-bottom: var(--spacing-sm);
}

.product-card .price {
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
}

/* Product Page */
.product-banner {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
}

.product-banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.product-detail {
    width: 100%;
    height: fit-content;
    margin-bottom: 80px;
}

.product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-gallery {
    width: 100%;
}

.product-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: var(--spacing-sm) var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.product-info span svg {
    color: rgb(166, 0, 0);
    width: 16px;
}

.product-info p {
    font-size: 16px;
    color: var(--color-text-secondary);
}

.product-info hr {
    border: 0.5px solid rgba(0, 0, 0, 0.09);
}

.product-info .price {
    font-weight: bold;
    font-size: 20px;
}

.product-info .button-primary-dark-xl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    font-size: 14px;
}

.product-info .button-primary-dark-xl span svg {
    width: 20px;
    color: rgb(240, 240, 240);
}

@media (min-width: 768px) {
    .header {
        height: 68px;
        padding: 12px 20px;
    }

    .logo-header {
        height: 36px;
    }

    .header-content > nav:nth-child(2) {
        display: block;
    }

    .header nav ul li a {
        font-size: 14px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .category-section {
        padding: var(--spacing-sm);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-md);
        margin-bottom: 64px;
    }

    /* Products Page */
    .category-container {
        height: 250px;
    }

    .category-content h1 {
        font-size: 28px;
    }

    .category-content p {
        font-size: 14px;
        padding-right: 200px;
    }

    .products-container {
        padding: var(--spacing-sm) var(--spacing-sm);
    }

    .products-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-card {
        padding: var(--spacing-sm) var(--spacing-sm);
    }
}

@media (min-width: 1440px) {
    .header-content {
        padding: 0px 16px;
    }

    .hero-section {
        height: 680px;
    }

    .category-section {
        padding: var(--spacing-sm);
        display: grid;
        grid-template-columns: repeat(2 1fr);
        gap: var(--spacing-md);
        margin-bottom: 64px;
    }

    /* Products Page */
    .category-container {
        height: 350px;
        background-position: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-content {
        max-width: 1440px;
        height: 100%;
        padding: var(--spacing-sm) var(--spacing-sm);
    }

    .category-content h1 {
        font-size: 32px;
    }

    .category-content p {
        width: 800px;
        font-size: 16px;
    }

    .products-container {
        max-width: 1440px;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-md) 0px;
        margin-bottom: 80px;
    }

    .products-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-card {
        padding: var(--spacing-sm) var(--spacing-sm);
    }

    .product-card h3 {
        font-size: 20px;
        margin-bottom: var(--spacing-xs);
    }
    .product-card p {
        font-size: 16px;
    }

    .product-card .price {
        font-size: 20px;
        font-weight: bold;
    }
}
